*{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
body{
    background-color: #fff;
}
.img{
    width: 60vw;
    height: 100vh;
    position: absolute;
    left: 0;
    background-color: gray;
}
.signUpPart{
    width: 40vw;
    height: 100vh;
    position: fixed;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signUpBoxContainer{
    width: 470px;
    height: 570px;
    display: flex;
    align-content: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: #fff;
}
.signUpBox{
    width: 370px;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title{
    font-size: 30px;
    padding-left: 0px;
    margin-top: 20px;
    text-align: center;
    color: #2D4863;
}
.signUpDetailsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 310px;
}
.signUpDetails{
    margin-top: 10px;
}
input{
    width: 295px;
    height: 40px;
    background-color: #E5E5E5;
    border: none;
    border-radius: 20px;
    font-size: 14px;
}
input[type="text"], input[type="password"]
{
    padding: 0;
    padding-left: 15px;
}
input#confirmPassword{
    margin-top: 2px;
}
::placeholder{
    color: #2D4863;
    opacity: 25%;
    font-size: 14px;
}
#signInButton{
    border: none;
    border-radius: 20px;
    width: 310px;
    height: 55px;
    background-color: #2D4863;
    color: #fff;
    padding: 10px;
    margin-top: 30px;
}